body {
    background: no-repeat center url(https://media.istockphoto.com/photos/creative-recreational-toys-entertainment-theme-3d-rendering-picture-id1297172362?b=1&k=20&m=1297172362&s=170667a&w=0&h=74THRjl-Mp7YaTwRYn5gCOGN_bLHaATXfgV-1I9XCF4=);
    background-size: cover;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: 'Comforter', cursive;
    font-family: 'Monoton', cursive;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.display-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.display1,
.display2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100px;
    border: 1px solid lightblue;
    margin-bottom: 5px;
}

.x-score,
.o-score {
    width: 80px;
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 50px;
    margin-bottom: 5px;
    font-size: 3rem;
}

.container {
    position: relative;
    width: 400px;
    height: 620px;
    border: 4px solid #ccc;
    margin: 5% auto;
    border-radius: 5px;
}

.box-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    width: 280px;
    height: 280px;
    margin: 0 auto;
}

.container .restart {
    height: 50px;
    margin-left: 130px;
    margin-top: 30px;
    padding-left: 13px;
    padding-right: 13px;
}

.container .reset {
    width: 70px;
    height: 50px;
    margin-left: 30px;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.box {
    border: 2px solid orange;
    text-align: center;
    padding-top: 50%;
    padding-bottom: 50%;
    line-height: 0;
    font-size: 3rem;
}

.notice {
    display: none;
    position: absolute;
    top: 18%;
    left: -5%;
    width: 451px;
    height: 50px;
    font-size: 4rem;
    transform: rotate(-10deg);
    color: aqua;
    line-height: 50px;
    text-align: center;
    font-family: 'Comforter', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Permanent Marker', cursive;
}

audio {
    margin-left: 50px;
    margin-top: 5px;
}